{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block title %}
    Список мероприятий &bull;
{% endblock %}

{% block content %}
    <div style="margin-left: 10px; margin-right: 10px;">
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Фильтры</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="get">
                        <div class="modal-body">
                            {% bootstrap_form competitions.form %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Сохранить изменения</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Список мероприятий</h1>
                    <p class="lead text-body-secondary">Наш сайт предоставляет ученикам удобную платформу для регистрации на мероприятия в школе. От олимпиад и конкурсов до выездов на экскурсии и спортивных мероприятий - у вас есть возможность выбрать и присоединиться к разнообразным активностям, которые помогут раскрыть ваш потенциал.</p>
                    <p>
                        
                        <div style="display: flex; justify-content: center;">
                            <button type="button" class="btn btn-primary w-25 py-2" style="justify-content: center;" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Фильтры
                            </button>
                        </div>
                    </p>
                </div>
            </div>
        </section>
            <div class="album py-5 bg-body-tertiary">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        {% for competition in competitions.qs %}
                            <div class="col">
                                <div class="card shadow-sm">
                                    {% if competition.image %}
                                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: {{ competition.name }}" preserveAspectRatio="xMidYMid slice" focusable="false">
                                        <rect width="100%" height="100%" fill="#55595c"/>
                                        <image xlink:href="{{ competition.image.url }}" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" focusable="false" />
                                    </svg>
                                    {% else %}
                                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: {{ competition.name }}" preserveAspectRatio="xMidYMid slice" focusable="false">
                                            <title>{{ competition.name }}</title>
                                            <rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ competition.name }}</text>
                                        </svg>
                                    {% endif %}
                                    <div class="card-body">
                                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <a href="{% url 'competition_detail' competition.id %}"><button type="button" class="btn btn-sm btn-outline-secondary">Просмотреть</button></a>
                                            </div>
                                            <small class="text-body-secondary">{{ competition.get_status_display }}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
{% endblock %}