/***Style for all project's templates***/
body {
  background-color: #FAFAFA;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
  
}


h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}


h1 {
  font-size: 56px;
}


body {
  background-color: #FAFAFA;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
}


.card {
  margin-top: 20px;
  margin-bottom: 20px;
}