{% extends "base.html" %}
{% block title %}{{ form_title }}{% endblock %}

{% load static %}
{% block static %}
<link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}

{% block content %}
{% load add_class %}
<div class="main__header">
    <h1 class="main__title">{{ form_title }}</h1>
</div>
<div class="form-container">
    <form class="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form__group">
            <label for="{{ form.title.id_for_label }}" class="form__label">Название рецепта</label>
            <div class="form__field-group">
                {{ form.title|addclass:"form__input" }}
                <span class="form__error">{{ form.title.errors }}</span>
            </div>
        </div>
        <div class="form__group">
            <p class="form__label">Теги</p>
            <div class="form__field-group">
                <div class="tags">
                    <div class="tags__item">
                        <input type="checkbox" name="tags" value="breakfast" id="id_breakfast"
                            class="tags__checkbox tags__checkbox_style_orange" {% if is_breakfast %}checked{% endif %}>
                        <label for="id_breakfast" class="tags__label">Завтрак</label>
                    </div>
                    <div class="tags__item">
                        <input type="checkbox" name="tags" value="lunch" id="id_lunch"
                            class="tags__checkbox tags__checkbox_style_green" {% if is_lunch %}checked{% endif %}>
                        <label for="id_lunch" class="tags__label">Обед</label>
                    </div>
                    <div class="tags__item">
                        <input type="checkbox" name="tags" value="dinner" id="id_dinner"
                            class="tags__checkbox tags__checkbox_style_purple" {% if is_dinner %}checked{% endif %}>
                        <label for="id_dinner" class="tags__label">Ужин</label>
                    </div>
                </div>
                <span class="form__error">{{ form.tags.errors }}</span>
            </div>
        </div>
        <div class="form__group">
            <label for="nameIngredient" class="form__label">Ингредиенты</label>
            <div class="form__field-group">
                <div class="form__field-group-ingredientes">
                    <div class="form__dropdown">
                        <input type="text" id="nameIngredient" class="form__input">
                        <div class="form__dropdown-items"></div>
                    </div>
                    <input type="number" id="cantidad" class="form__input" min="0">
                    <label for="cantidad" class="form__label" id="cantidadVal">кол-во.</label>
                </div>
                <div class="form__field-group-ingredientes-container">
                    {% if ingredients %}
                        {% for ingredient in ingredients %}
                            <div class="form__field-item-ingredient" id="ing_{{ ingredient.ingredient.id }}"><span>
                                    {{ ingredient.ingredient.title }} {{ ingredient.amount }}
                                    {{ ingredient.ingredient.dimension }}</span> <span class="form__field-item-delete"></span>
                                <input id="nameIngredient_{{ ingredient.ingredient.id }}" name="nameIngredient" type="hidden" value="{{ ingredient.ingredient.title }}">
                                <input id="valueIngredient_{{ ingredient.ingredient.id }}" name="valueIngredient" type="hidden" value="{{ ingredient.amount }}">
                                <input id="unitsIngredient_{{ ingredient.ingredient.id }}" name="unitsIngredient" type="hidden" value="{{ ingredient.ingredient.dimension }}">
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <span class="form__ingredient-link" id="addIng">Добавить ингредиент</span>
                <span class="form__error"></span>
            </div>
        </div>
        <div class="form__group">
            <label for="{{ form.time.id_for_label }}" class="form__label">Время приготовления</label>
            <div class="form__field-group form__field-group_time">
                {{ form.time|addclass:"form__input" }}
                <label for="id_time" class="form__label">минут</label>
                <span class="form__error">{{ form.time.errors }}</span>
            </div>
        </div>
        <div class="form__group">
            <label for="{{ form.description.id_for_label }}" class="form__label">Описание</label>
            <div class="form__field-group">
                {{ form.description|addclass:"form__textarea" }}
                <span class="form__error">{{ form.description.errors }}</span>
            </div>
        </div>
        <div class="form__group">
            <span class="form__label">Загрузить фото</span>
            <div class="form__field-group">
                <div class="form__field-group">
                    <label for="{{ form.image.id_for_label }}" class="form__file-button">Выбрать файл</label>
                    <input type="file" name="{{ form.image.name }}" id="{{ form.image.id_for_label }}" class="form__file">
                    <span class="form__error">{{ form.image.errors }}</span>
                </div>
            </div>
        </div>
        <div class="form__footer">
            <button class="button button_style_blue">{{ btn_caption }}</button> 
            {% if recipe %}
                <a style="margin-left: 2.5em" href="{% url 'remove_recipe' recipe.author.username recipe.id %}" class="form__ingredient-link">Удалить</a>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/utils/debouncing.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'formRecipe.js' %}"></script>
{% endblock %}