{% extends 'base.html' %}
{% block content %}
    <div class="text-center"><h1>Конвертер валют</h1></div>
    <form method="POST" class="row g-3">
        {% csrf_token %}
        <div class="col-md-4">
            <label for="from-amount" class="form-label">Сумма: </label>
            <input type="number" class="form-control" id="from-amount" name="from-amount" {% if from_amount %} value="{{ from_amount }}" {% endif %}>
        </div>
        <div class="col-md-4">
            <label for='from-curr' class="form-label">Отдаём </label>
            <select id='from-curr' value='{{ from_curr }}' name="from-curr" class="form-select">{% for curr in currencies %}<option value='{{ curr }}' {% if from_curr == curr %} selected {% endif %}>{{ curr }}</option>{% endfor %}</select>
        </div>
        <div class="col-md-4">
            <label for='to-curr' class="form-label">Получаем </label>
            <select id='to-curr' value='{{ to_curr }}' name="to-curr" class="form-select">{% for curr in currencies %}<option value='{{ curr }}' {% if to_curr == curr %} selected {% endif %}>{{ curr }}</option>{% endfor %}</select>
        </div>
        {% if converted_amount %}
            <div class='col-md-12'><div class="card"><div class="card-body text-center"><h5>Отдаем {{ from_amount }} <b> {{ from_curr }} </b> Получаем {{ converted_amount }}<b>{{ to_curr }}</b></h5></div></div></div>
        {% endif %}
        <div class="d-grid gap-2"><button class="btn btn-primary" type="submit">Рассчитать</button></div>
    </form>
{% endblock %}