body {
    background-color: #FAFAFA;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
}


.icon {
    height: 50px;
    width: 50px;
}


.card {
    margin-top: 20px;
    margin-bottom: 20px;
}


.list-group-item {
    margin-left: auto;
    margin-right: auto;
}


.card-header {
    margin-left: auto;
    margin-right: auto;
}