[flake8]
max-line-length = 100
ignore =
    # Разрыв строки произошел после бинарного оператора
    W504,
    # Обнаружены двойные кавычки, но предпочтительны одинарные кавычки
    Q000
exclude =
    .venv*,
    */migrations/*,
