annotated-types==0.6.0
    # via pydantic
async-timeout==4.0.3
    # via redis
certifi==2024.2.2
    # via elastic-transport
elastic-transport==8.13.0
    # via elasticsearch
elasticsearch==8.13.1
    # via -r requirements.in
flake8==7.0.0
    # via
    #   -r requirements.in
    #   pep8-naming
isort==5.13.2
    # via -r requirements.in
mccabe==0.7.0
    # via flake8
pep8-naming==0.13.3
    # via -r requirements.in
psycopg2-binary==2.9.9
    # via -r requirements.in
pycodestyle==2.11.1
    # via flake8
pydantic==2.7.1
    # via -r requirements.in
pydantic-core==2.18.2
    # via pydantic
pyflakes==3.2.0
    # via flake8
pytz==2024.1
    # via -r requirements.in
redis==5.0.4
    # via -r requirements.in
typing-extensions==4.11.0
    # via
    #   pydantic
    #   pydantic-core
urllib3==2.2.1
    # via elastic-transport
